.header{
    height: 110px;
    background: #FEFDDD;
    #search{
        width: 100%;
        border-radius: 6px;
        border: 0.5px solid #F26721;
        background: #FFF;
        margin-top: 5.5%;
    
    }
    .mr{
        margin-top: 2%;
    }
    h4{
        color: #000;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
    }
}
.menu-list{
    height: 90px;
    background: #F26721;
    h6{
        color: #000;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
    }
}

.men-heading{
    color: #000;
font-family: Merienda;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.card.mt-5.c {
    background: #FEFDDD;
}
img.card-img-top {
    padding: 1rem;
}
.card-body.c-b {
    background: #FEFDDD;
}
.content{
    color: #000;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.footer{
    height: auto;
    background: #FEFDDD;
    .m{
margin-top: 5%;
    }
    h3{
        color: #000;
font-family: Roboto;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
    }
    h4{
        color: #000;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
    }

}